/* q 18 */
/* #slider img{display: none;

}

#slider img.visib{display: block;}

#slider{width: 1200px;
height: 80vh;}
#slider img{max-width: 90%;
object-fit: cover;
} */
  body { font-family: Arial; padding: 20px; }
    input { padding: 5px; }
    button { padding: 5px; margin-left: 5px; }
    .task { margin: 5px 0; }
